.main-info {
    margin-top: 8%;
    width: 80vw;
    display: flex;
}

.black {
    width: 25vw;
    height: 80vh;
    background-color: black;
    margin-left: 5%;
}

.profile {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.img-profile {
    width: 300px;
}

.img-profile>img {
    width: 100%;
    box-shadow: -30px 15px 1px white;
}

.icon-profile {
    width: 100%;
    margin-top: 20px;
}

.icon-profile>ul {
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: center;
}

.icon-profile>ul>li {
    padding-left: 30px;
}

.nav-profile {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
}

.nav-profile>p:last-of-type {
    font-size: clamp(1.5rem, 0.4rem + 1.3vw, 2rem);
    text-align: center;
}

.nome {
    text-align: center;
    font-weight: bold;
    font-size: clamp(1.8rem, 1rem + 1.9vw, 2.5rem);
}

.barrinha {
    width: 5px;
    height: 300px;
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: black;
}