body {
    overflow-x: hidden;
    background-color: black;
}

.projetos {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.container-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: auto;
}

.project-box {
    width: 22vw;
    margin: 0 auto;
    height: 33vh;
    border: 1px solid white;
}

.project-box:nth-child(n) {
    margin-top: 10%;
}

@media(max-width: 850px) {
    .container-projects {
        grid-template-columns: repeat(2, 1fr);
    }
    .project-box {
        width: 30vw;
    }
}

@media(max-width: 700px) {
    .container-projects {
        grid-template-columns: 1fr;
    }
    .project-box {
        width: 50vw;
    }
}