.container-sobre {
    width: auto;
    margin: auto;
    border: 2px solid black;
    padding: 70px;
}

.container-sobre>h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: clamp(1.5rem, 1rem + 1.5vw, 2.5rem);
}

.container-sobre>p {
    text-align: center;
    font-size: clamp(1rem, 0.8rem + 1.3vw, 1.3rem);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50vw;
    height: 50vh;
    border: 1px solid white;
}