* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(255, 255, 255);
}

main {
    display: flex;
    flex-direction: row;
}

header {
    display: flex;
    width: auto;
    background-color: rgb(10, 10, 10);
    height: 100vh;
}

.list-icon {
    display: flex;
    flex-wrap: wrap;
    font-size: clamp(1rem, 0.5rem + 1.5vw, 2rem);
    align-items: center;
    text-align: center;
}

.scroll {
    display: none;
    color: white;
}

.scroll>p {
    font-size: clamp(1.5rem, 0.5rem + 1.5vw, 2rem);
}

.info>ul>li {
    margin-top: 30px;
}

.info>ul>li>a {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    letter-spacing: 5px;
    list-style-type: none;
    cursor: pointer;
    transition: all ease 1s;
    text-decoration: none;
}

.info>ul>li>a:hover {
    color: rgb(64, 62, 62);
}

@media(max-width: 850px) {
    main {
        flex-direction: column;
    }
    header {
        height: auto;
    }
    .scroll {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }
    .list-icon {
        width: 100%;
        cursor: pointer;
    }
    .info {
        display: none;
        width: 100%;
        margin-top: 20px;
    }
    .info>ul {
        display: flex;
        flex-direction: column;
    }
    .info>ul>li {
        margin-top: 30px;
    }
    ul>li:last-child {
        padding-bottom: 30px;
    }
}

.active {
    display: block;
    transition: all 1s ease;
}

.nav-active {
    border: 1px solid white;
    transition: 1.5s;
}